node_modules
coverage
*.log
npm-debug.log*
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp

.*
!.github
!.eslintignore
!.eslintrc
!.gitignore
!.travis.yml
!.autod.conf.js
*.bin

test/fixtures/src_1.0
test/fixtures/src_2.0
